/* all assumptions are on 16px em */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 90%;
	font-family: Droid Sans,Lucida Grande,Trebuchet MS, Arial, sans-serif;
	}

.container {
	/* width: 992px/62em; */
	margin-left: 1em;
	width: 976px;
	}

.header {
	/* original - height: 80px/5em; */
	/*height: 146px;*/
	height: 100%;
	color: #4E4E4E;
	/*background-img:
		url(' '); */
	}

.header h1 {
	font-size: 5em;
	padding: 0.15em 0 0.15em 0.25em;
	font-family: Droid Serif,Georgia,Times,serif;
	margin-bottom: 0;
	margin-top: .2em;
	border-top: 1px solid silver;
	background-color: #FDFDFD;
	}

/* Header Tabs */
ul.tabs  {
	display: block;
	list-style: none;
/*	background-color: #D3D3D3; */
	background-image: 
		url(images/tab.png);
	padding: .5em 0;
	/*color: black;*/
	margin-left: 0;
	height: 100%;
	margin-bottom: 0;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	}

.tabs li {
	font-size: 1.45em;
	border-right: 1px solid silver;
	padding-right: 1em;
	padding-left: 1em;
	display: inline;
	list-style: none;
	}

.tabs li:last-child {
	border-right: 0;
}


/*probably needs adjustment */
li#archivetab  {
	padding-left: 2em;
	}

li#subscribetab {
	/* might need to change this */
	padding-left: 1em;
	}

	#subscribetab img {
		padding-right: .1em;
		margin-right: .4em;
		vertical-align: baseline;
		width: 1em;
		}

li#searchtab {
	text-align: right;
	margin-left: 1.5em;}

	#searchbar {
		color: silver;
		font-size: .8em;
		}
	#searchsubmit {
		font-size: .9em;
		}

/* Start Content */

.contentoutside {
	clear: both;
}


/*  Sidebar  */

.sidebar {
	width: 26em;
	float: right;
	font-size: 9pt;
	padding-top: 1em;
	background-color: #FDFDFD;

	}

.sidebar h2 {
    font-size: 1.5em;
	font-family: Droid Serif,Georgia,Times,serif;
	padding-top: 1em;
	border-top: 1px solid silver;
	color: #4E4E4E;
	margin-top: .8em;
	}

.sidebar div > h2:first-child {
	padding-top: 0;
	border-top: 0;
	margin-top: 0;

}


#sidebarleft {
	/*float: left;*/
	width: 13.5em;
	border-right: 1px solid silver;
	padding-right: .7em;
	margin-right: -10em;
	}

	ul#twitter_update_list {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		}

	#twitter_update_list li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		padding-bottom: .5em;
		border-bottom: 1px solid #f2f2f2;
		padding-top: .8em;
		}		

		#twitter_update_list li:last-child {
			border-bottom: none;
			}

#sidebarright {
	float: right;
	width: 10.5em;
	margin: 0;
	}


/* Content  */

.content {
	/* orginal 
	 * width: 752px/47em;
	 * height: 544px/34em;
	 */
	width: 620px;
	float: left;
	margin-bottom: 1.45em;
	}

/*this keeps the footer from getting pushed down
 * on the index page; be sure to add it in the php/html 
 */
#index {
	height: 490px;
	}
	

/* For category pics for index */

.categories ul {
	display: inline;
	margin: 0;
	padding: 0;
	max-height: 490px;
	}

ul.categories {
	display: inline;
	margin: 0;
	padding: 0;
	}

.categories li {
	font-size: 15pt;
	display: block;
	width: 295px;
	height: 121px;
	background-color: gray;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid silver;
	}

.categories a {
	display: block;
	padding: 0.3em 0.3em 0.3em 1em;
	background-image: 
		url('images/transp.png');
	width: 4em;
	font-weight: bold;
	color: #4E4E4E;
	/*
	background-img:
		url ( ' .jpg');
			/*transparent */ 
	}


/*  Pics for Category Links on index
*
*/

#cat-linux {
	background-image:
		url('images/linux.jpg');
		top: 14px;
		}

#cat-religion {
	background-image:
		url('images/religion.jpg');
		top: -107px;
		left: 316px
	}
#cat-tech {
	background-image:
		url('images/tech.jpg');
		top: -84px;
	}
	
#cat-art {
	background-image:
		url('images/art.jpg');
		top: -205px;
		left: 316px
	}
	
#cat-links {
	background-image:
		url('images/links.jpg');
		top: -183px;
	}

#cat-life {
	background-image:
		url('images/life.jpg');
		top: -304px;
		left: 316px;
	}
		
/* ---end category pics: -- */

/* Actual Post Content
 *
 */

/*how do I want to do the backgrounds? */
.location {
}

	/*pics for categories
	#post-linux {
		background-image:
			url('images/linux.jpg');
		background-repeat: no-repeat;
		}*/

.location h2 {
	font-size: 3.45em;
	margin: .25em 0;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.post {

}

.post h2,h4 {
	font-family: Droid Serif,Georgia,Times,serif;
}

.post h2 {
	font-size: 2.45em;
	border-bottom: 1px solid silver;
	margin-top: .35em;
	width: 75%;
}

.post h4 {
	margin-top: .2em;
	margin-bottom: 1em;
	margin-left: 1em;
}

.post-content {

}

.post-content p {
	line-height: 1.5;
	margin: .666em 0;
}

/* drop caps for post content */
.post-content p:first-letter {
	font-size: 7em;
	color: #4E4E4E;
	font-family: Droid Serif,Georgia,Times,serif;
	float:left;
	width: 100%;
	margin: 0 .03em 0em 0;
	}

/*un-drop cap any following p */
.post-content * + p:first-letter {
	font-size: inherit;
	color: black;
	font: inherit;
	float: none;
	}

/* Footer
 *
 */

.footer {
	/*height: 80px/5em;*/
	height: 80px;
	font-size: .8em;
	line-height: 1.5em;
	clear: both;
	padding: 1em 0 .5em 0;
	border-top: 1px solid silver;
	
	}

.footer img {
	width: 1em;
	padding-right: .7em;
	}

